<ion-header>
  <ion-toolbar>
    <ion-title>
      Budgets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item (click)="OnBudgetClicked(i)" *ngFor="let budget of Budgets; let i = index">

    <ion-grid>
      <ion-row>
        <ion-col><img width="50px" src='{{budget.iconUrl}}'></ion-col>
        <ion-col>{{budget.name}}</ion-col>
        <ion-col>${{budget.spent}}/{{budget.amount}}</ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>
</ion-list>




</ion-content>
